.description {
    text-align: center
}

.footer-name {
    margin-top: 20%;
    align-content: center;
    margin-bottom: 50%;
}

.home-link {
    color: white;
}

.error-image {
    width: 20%;
    margin-left: 40%;
}